@import "../../shared/Position/Position.scss";

.EmptyState,
.ErrorState {
  height: 100%;
  text-align: center;

  &-cardBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ErrorState-headingText {
  color: darkgrey;
}

.podiumPlaceContainer {
  float: left;
  text-align: center;
  padding-top: 1em;
  height: 100%;
  height: 12em;
  position: relative;
  width: 30em;
  padding: 0.5em 1em 0 1em;
}
.cursorPointer {
  cursor: pointer;
}

div.placingIndicatorRosette {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  min-width: 3em;
  vertical-align: middle;
}

div.placingIndicatorRosette > .medal-icon {
  width: 50px;
  height: 50px;
}

div.placingIndicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 50%;
  vertical-align: middle;
  padding: 1em;
  font-weight: bold;
  width: 50px;
  height: 50px;
}
div.placingIndicator span.placingNumber {
  font-size: 2em;
}
div.placingIndicator span.placingSuffix {
  font-size: 1.5em;
}

div.placingIndicator:before {
  content: "";
  float: left;
  width: auto;
  padding-bottom: 100%;
}

div.podiumValue {
  font-size: 2.5em;
  padding-top: 0.5em;
  font-weight: bold;
  color: #000000;
}

div.podiumName {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.2em;
}

div.podiumSubName {
  font-size: 1.2em;
  padding-top: 0.2em;
}

div.podiumNameBlock {
  min-width: 10em;
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

div.podiumContainer {
  padding-bottom: 1em;
}
div.podiumBlock {
  margin-top: 1.5em;
}

div.imageThumb {
  padding-top: 1.5em;
}

div.imageThumb img {
  height: 9em;
  width: 9em;
}

div.imageThumb img.circle {
  height: 9em;
  width: 10em;
  border-radius: 50%;
  border: solid 10px grey;
  box-shadow: 0px 0px 3px 3px #dedede;
}

.autoSizer {
  justify-content: center;
  display: grid;
}
