$color-positive: #4caf50;
$color-negative: #f44336;
$color-neutral: #888;

.change-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #000;

  .arrow-up,
  .arrow-down,
  .no-change {
    font-size: 1.6rem;
    padding-top: 0.4rem;
  }

  .arrow-up {
    color: $color-positive;
  }

  .arrow-down {
    color: $color-negative;
  }

  .no-change {
    color: $color-neutral;
  }
}
