$border-color: #e0e0e0;
$header-bg-color: #f9f9f9;
$container-font-size: 1rem;
$header-text-color: #333;
$item-bg-color: #ffffff;
$item-hover-bg-color: #f5f5f5;
$shadow-color: rgba(0, 0, 0, 0.05);

$header-font-size: 1.1rem;
$header-font-weight: bold;
$header-text-color: #444; // Customize as needed

.leaderboard-container {
  width: 100%;
  margin: 0 auto;
  font-size: $container-font-size;
  border: 1px solid $border-color;
  border-radius: 12px;
  box-shadow: 0 4px 12px $shadow-color;
  overflow: hidden;
  background-color: $item-bg-color;

  .leaderboard-header {
    display: flex;
    align-items: center;
    padding: 16px;
    font-weight: 600;
    background-color: $header-bg-color;
    color: $header-text-color;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    > div {
      padding: 8px;
    }
  }

  .header {
    font-size: $header-font-size;
    color: $header-text-color; // Use a distinct color for the headers if needed
    font-weight: $header-font-weight;
  }

  .leaderboard-rows {
    width: 100%;
  }
}
