$color-green: #4c12a1; // #4caf50;
$color-amber: #ff9800;
$color-red: #f44336;
$progress-bar-height: 8px;

.progress-bar {
  width: 80%;
  margin: 0 auto;
  height: $progress-bar-height;
  background-color: #e6e6e6;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 8px;
  position: relative;
}

.progress-bar__fill {
  height: 100%;
  transition: width 0.5s ease;
  border-radius: 10px;
}

.progress-bar__fill--default {
  background-color: $color-green;
  opacity: 0.3;
}

.progress-bar__fill--amber {
  background-color: $color-amber;
}

.progress-bar__fill--red {
  background-color: $color-red;
}

.progress-bar__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}
